* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #030303;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  gap: 30px; 
  padding: 20px;
  max-width: 1000px; 
}

.card {
  background-color: #faf6f6;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(243, 5, 5, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-align: center;
  width: 250px;
  height: 300px; 
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  padding: 10px;
  font-size: 1.2rem;
  color: #b73535;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(172, 88, 88, 0.2);
}

.card:hover h3 {
  color: #011223;
}

.info-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(103, 103, 104, 0.7);
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#planet-info {
  background-color: #b5c8f6;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  color: #f70511;
  cursor: pointer;
}